.menu{
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 20px;
  z-index: 999;
  background-color: rgb(80, 0, 0);
  box-shadow: 0px 3px 20px rgba(17, 17, 17, 0.788);
}

.s1{
  background-color:rgb(255, 247, 223);
  color: black;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.left{
  width: 400px;
  height: 400px;
  border-radius: 100% ;
  overflow: hidden;
  box-shadow: 0px 3px 2px rgba(17, 17, 17, 0.788);
}

.imgPerfil{
  width: 300px;
  height: 300px;
  transition: all 200ms ease-in-out;
}

.imgPerfil:hover{
  transform: scale(1.1);
}

.right{
  width: 600px;
  background-color: rgba(128, 128, 128, 0.171);
  border-radius: 5px;
  padding-left: 90px;
  animation: fromRight 1500ms ease-in-out;
  box-shadow: 0px 0px 10px 5px  rgba(128, 128, 128, 0.267);
}

@keyframes fromRight{
  0%{
    transform: translateX(-300px);
    opacity: 0;
  }
  40%{
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}

.imgPerfil{
  width: 400px;
  height: auto;
}

.title{
  font-size: 36px;
  font-weight: bold;
}

.paragraph{
  font-size: 22px;
}

.rodape{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: rgba(117, 117, 117, 0.274);
  border-top: 2px solid rgba(255, 255, 255, 0.144);
}

.rodape a{
  transition: all 200ms ease-in-out;
  overflow: hidden;
  filter: grayscale(0.5);
}

.rodape a:hover{
  transform: translateY(-5px);
    filter: grayscale(0);
}

.rodape img{
  border-radius: 100%;

}

@media (width <= 768px){
    .s1{
      padding-top:20px;
      gap: 0;
    }

    .left{
      width: 300px;
      height: 300px;
    }

    .right{
      padding: 20px;
      margin-top: -150px;
    }
}