.menu{
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 20px;
  z-index: 999;
  background-color: rgb(80, 0, 0);
  box-shadow: 0px 3px 20px rgba(17, 17, 17, 0.788);
}

.s1{
  background-color:rgb(255, 247, 223);
  color: black;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.left{
  width: 400px;
  height: 400px;
  border-radius: 100% ;
  overflow: hidden;
  box-shadow: 0px 3px 20px rgba(17, 17, 17, 0.788);
}

.imgPerfil{
  width: 300px;
  height: 300px;
  transition: all 200ms ease-in-out;
}

.imgPerfil:hover{
  transform: scale(1.1);
}

.right{
  width: 500px;
}

.imgPerfil{
  width: 400px;
  height: auto;
}

.title{
  font-size: 36px;
  font-weight: bold;
}

.paragraph{
  font-size: 22px;
}

@media (width <= 768px){
    .s1{
      padding-top:20px;
      gap: 0;
    }

    .left{
      width: 300px;
      height: 300px;
    }

    .right{
      padding: 20px;
      margin-top: -150px;
    }
}