.menu {
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 20px;
    z-index: 999;
    background-color: #260808;
    box-shadow: 0px 3px 20px 10px #0000007c;
}

.s1 {
    background-color:rgb(255, 247, 223);
    color: #011705;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.left {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0px 3px 20px #0000007c;
}

.imgPerfil {
    width: 400px;
    height: 400px;
    transition: all 200ms ease-in-out;
}

.imgPerfil:hover {
    transform: scale(1.1);
}

.right {
    border-radius: 20px;
    width: 500px;
    box-shadow: 20px 0px 20px 1px rgb(169, 165, 150);;
    padding-left: 10px;
    margin-right: 10px;
    animation: fromRight 1500ms ease-in-out;
}

@keyframes fromRight{
  0%{
    transform: translateX(-500px);
    opacity: 0;
  }
  40%{
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}

.title {
    font-size: 36px;
    font-weight: bold;
    
}

.paragraph {
    font-size: 22px;
}

.rodape {
    width: 100%;
    display: flex;
    gap: 1px;
    align-items: center;
    justify-content: center;
    background-color: #260808;
    border-top: 2px solid #000000;
}

.rodape a {
    transition: all 250ms ease-in-out;
    border-radius: 999px;
    overflow: hidden;
    filter: grayscale(0.7);
}

.rodape a:hover {
    transform: translateY(-15px);
    filter: grayscale(0);
}


.s4 {
    background-color:rgb(255, 247, 223);
    color: #011422;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    height: auto;
    padding: 50px;
    gap: 50px;
}

.s4 h2 {
    color:  #260505;
    font-size: 56px;
    letter-spacing: 10px;
    font-weight: bold;
    text-shadow: -5px 5px 10px rgba(0, 0, 0, 0.481);
}

.formData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    border: 2px solid  #260505;
    box-shadow: 0px 3px 20px #00000082;
    padding: 20px;
}

.formData label {
    text-align: left;
    width: 100%;
    margin-bottom: -9px;
}

.formData input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    border: 2px solid  #260505;
}

.formData textarea {
    width: 300px;
    height: 70px;
    border: none;
    border: 2px solid #260505;
    border-radius: 5px;
    padding: 10px;
}

.formData button {
    padding: 10px;
    border: none;
    border: 2px solid  #260505;;
    border-radius: 5px;
    width: 100%;
    opacity: 0.7;
}

.formData button:hover {
    cursor: pointer;
    opacity: 1;
}

.s2{
    background-color:rgb(255, 247, 223);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
}

.tecTitle{
    width: 100%;
    text-align: center;
    color: #260505;
    font-size: 56px;
    letter-spacing: 10px;
    font-weight: bold;
    text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.481);
}

.wrapCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (width <=768px) {
    .s1 {
        padding-top: 50px;
        gap: 0;
    }

    .left {
        width: 300px;
        height: 300px;
    }

    .imgPerfil {
        width: 300px;
        height: 300px;

    }

    .right {
        padding: 20px;
        margin-top: -150px;
    }

    .s4 h2 {
        font-size: 48px;
        letter-spacing: 5px;
    }
}