.menu{
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 20px;
  z-index: 999;
  background-color: rgb(80, 0, 0);
  box-shadow: 0px 3px 20px rgba(17, 17, 17, 0.788);
}

.s1{
  background-color:rgb(255, 247, 223);
  color: black;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.left{
  width: 400px;
  height: 400px;
  border-radius: 100% ;
  overflow: hidden;
  box-shadow: 0px 3px 2px rgba(17, 17, 17, 0.788);
}

.imgPerfil{
  width: 300px;
  height: 300px;
  transition: all 200ms ease-in-out;
}

.imgPerfil:hover{
  transform: scale(1.1);
}

.right{
  width: 600px;
  background-color: rgba(128, 128, 128, 0.171);
  border-radius: 5px;
  padding-left: 90px;
  animation: fromRight 1500ms ease-in-out;
  box-shadow: 0px 0px 10px 5px  rgba(128, 128, 128, 0.267);
}

@keyframes fromRight{
  0%{
    transform: translateX(-300px);
    opacity: 0;
  }
  40%{
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}

.imgPerfil{
  width: 400px;
  height: auto;
}

.title{
  font-size: 36px;
  font-weight: bold;
}

.paragraph{
  font-size: 22px;
}

.rodape{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: rgb(82, 6, 6);
  border-top: 2px solid rgba(255, 255, 255, 0.144);
}

.rodape a{
  transition: all 200ms ease-in-out;
  overflow: hidden;
  filter: grayscale(0.5);
}

.rodape a:hover{
  transform: translateY(-5px); 
    filter: grayscale(0);
}

.rodape img{
  border-radius: 100%;



}
.card{
  background-color: rgba(122, 239, 255, 0.089);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  width: 220px;
  padding-left: 10px;
}

.tecTitle{
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.card img{
  padding-top: 5px;
}

.wrapCards{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.s4{
  background-color:rgb(255, 247, 223); 
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  height: 100vh;
  padding: 10px;
  gap: 80px;
}

.s4 h2{
  color: rgb(59, 0, 0);
  font-size: 80px;
  letter-spacing: 10px;
  font-weight: bold;
  text-shadow: -5px 8px 5px rgba(0, 0, 0, 0.315);
}

.formData{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  gap: 20px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0px 3px 2px black;
  padding: 20px;
  background-color:rgb(241, 234, 211);  ;
}

.formData label{
  text-align: left;
  width: 100%;
  margin-bottom: -10px;
}

.formData input{
  padding: 10px;
  width: 100%;
  height: 40px;
  border-radius: 5px;

}

.formData textarea{
  width: 300px;
  height: 70px;
  border: none;
  border: 2px solid black;
  border-radius: 5px;
}

.formData button{
  background-color: rgb(37, 9, 9);
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  border: none;
  border: 2px solid black;
  border-radius: 5px;
  width: 100%;
  opacity: 0.8;
  transition: all 100ms ease-in-out;
}

.formData button:hover{
  cursor: pointer;
  opacity: 1;
}

.s5{
  background-color: rgb(255, 216, 216);
  width: auto;
  height: 100vh;
}

.cardDoMcqueen{
  display: flex;
  align-items: flex-start;
}

@media (width <= 768px){
    .s1{
      padding-top:20px;
      gap: 0;
    }

    .left{
      width: 300px;
      height: 300px;
    }

    .right{
      padding: 20px;
      margin-top: -150px;
    }
    .s4 h2{
      font-size: 48px;
      letter-spacing: 5px;
}
}