*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body{
  background-color: rgb(255, 247, 223);
}

a{
  text-decoration: none;
  color: rgb(232, 255, 221);
  opacity: 0.8;
  transition: all 200ms ease-in-out;
  font-weight: bold;
}



a:hover{
  cursor: pointer;
  opacity: 1;
  text-decoration: underline;
}

